.ipynb_checkpoints
__pycache__
semester1/lab1/.ipynb_checkpoints
semester1/lab2/.ipynb_checkpoints
semester1/lab1/part3/.ipynb_checkpoints
semester1/lab2/part1/.ipynb_checkpoints
semester1/lab2/part2/.ipynb_checkpoints
semester1/lab2/part3/.ipynb_checkpoints
semester1/lab2/part5/.ipynb_checkpoints
semester1/lab2/part5/data/
